/* 
font-family: "Roboto Mono", monospace;
font-family: "Reddit Mono", monospace; */

/* NORMALIZACION: */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
body {
    background-color: black;  /* TODO: BORRAR CUANDO TENGAMOS EL FONDO FINAL */
}

header {
    position: fixed; /* Esto hace que el Header se quede fijo en la parte superior */
    right: 0; 
    top: 0;
    z-index: 100;  /* Esto hace que el header se muestre por encima */
    width: 100%;
    display: flex;  /* Esto hara que queden los elementos en linea */
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}
.logo {
    font-size: 28px;
    font-weight: 700; /* Este es el grueso de la letra del logo */
}

.navlist {
    display: flex;
}
.navlist a { 
    margin-left: 60px; /*separa las palabras del nav */
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /* Esto es para crear un subrayado transparente */
    transition: all .5s ease-in-out;
}

.navlist a:hover {
    /* Esto es para cuando me pare encima de un elemento de (a) de la navlist transicione */
    border-bottom: 2px solid white; /* este es el subrayado blanco que aparece abajo cuando lo seleccionamos */
}

#menu-icon {
    display: none; /* lo pongo para que solo se vea cuando la página esté colapsada */ 
    font-size: 35px;
    z-index: 101; /* para que esté sobre el header */
    cursor: pointer; /* Pone el cursor como una manito */
}

#menu-toggle {
    display: none; /* nunca quiero que se vea el checkbox */
}
.menu-icon-action {
    display: none; /* para que no se le pueda hacer clic */
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31394e 0%, #9d210e 25%, #131313 75% ); /* fondo con degradado */
    position: relative; /* para que sea relativo al contenedor (nos permite usar top, bottom, left y right) */
    display: grid; /* para que el hero nos permita dividirlo en dos columnas */
    grid-template-columns: 1fr 1fr; /* las dos columnas */
    align-items: center; /* para alinear verticalmente al hero */
    gap: 2rem; /* para que haya espacio de 2rem entre las dos columnas */
}
section {
    padding: 0 8%;
}
.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}
.hero-text h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}
.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}
.hero-img img {
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear; /* Esto se hace para que la transición sea lineal */
}
.hero-img img:hover {
    width: 415px; /* Cambio más moderado */
}

.hero-text a {
    display: inline-block;
    background-color: #4f2c2c;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}
.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.videos {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.videos i {
    vertical-align: middle;
    margin: 5px;
}

.icons {
    position: absolute;
    top: 30vh; /* Ajuste a la mitad de pantalla de los iconos */
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 25px 0;
    font-size: 24px;
    transition: all .5s ease;
}
.icons i:hover {
    color: #9d210e;
    transform: translateY(-5px);
}
.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
}
.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #4f2c2c;
    border-radius: 30px;
    transition: all .5s ease-in-out;
}
.scroll-down i:hover {
    transform: translateY(-5px);
}

/* Media Queries para hacer la web responsive */
@media (max-width: 992px) {
    section {
        padding: 0 3%;
        transition: .2s;  
    }
    .hero-text {
        padding-top: 0;
    }
    .hero-img {
        text-align: center;
    }
    .hero-text {
        font-size: 70%;
    }
    .hero-img img {
        width: 80%;
        margin: 10% 0 0;
    }
    .icons {
        display: none;
    }
    .scroll-down {
        display: none;
    }
}

@media (max-width: 758px) {
    .menu-icon-action {
        display: block;
    }

    #menu-icon {
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0 auto; /* Centramos la imagen */
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        max-width: 300px;
        height: auto;
        background-color: #26070468;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5%;
        padding: 30px 20px;
        transition: all .5s ease-out;
    }

    .navlist a {
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
}
